body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
a:hover {
  color: #FFC107;
}
h2 {
  margin-bottom: 1rem;
}
section {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}