---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Successful Completion of Family Planning Training in Migori County">
  <article>
    <h1>Successful Completion of Family Planning Training in Migori County</h1>
    <p style="font-style: italic;">Published on April 06, 2025</p>
    <img src="migoritraining.jpg/800x400" alt="Migori Family Planning Training" style="width: 100%; height: auto; margin: 1rem 0;" />
    <p>
      The refresher training for healthcare professionals from seven LREB counties ended successfully in Migori County, equipping participants with essential skills in family planning methods, counseling, and adherence to safety standards. The training also emphasized Public Private Partnerships to enhance access to quality reproductive healthcare.
    </p>
    <p> 
      To improve service delivery, various healthcare facilities developed work plans, ensuring better implementation of family planning services. Additionally, six healthcare facilities received complete IUD sets, and lab coats were distributed during the closing ceremony.
    </p>
    <p>
      Conducted under KMET’s Huduma Poa health franchise, the training combined theory, practical sessions, and hands-on experience to reinforce best practices.
    </p>
    <p>
     Together, we are committed to delivering safe and accessible reproductive healthcare.
    </p>
  </article>
</Layout>